*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
body{
    margin: 0;
    padding: 0;
}

/* start header */

header{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 0px 0px 2px 0px; */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    
}

header nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

header div a{
    margin-right: 40px;
    text-decoration: none;
    color: grey;
}



.logo img{
    width: 100px;
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 150px;
    
}
ul{
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

li{
    list-style: none;

    
}
li a{
    text-decoration: none;
    color: grey;
    margin-right: 50px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    
}
li a:hover{
    background-color: grey;
    color: white;
}

.search {
    display: flex;
    flex-direction: row;
}

input{
    border: none;
    outline-color: white;
    height: 24px;
    margin-left: 20px;
}

/* end header */

.container{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    /* background-color: tomato; */
    flex-wrap: wrap;

}
p{
    margin-top: 105px;
    margin-right: 20px;
}
select{
    width: 220px;
    height: 30px;
    margin-top: 100px;
    margin-right: 50px;
    margin-bottom: 70px;
    border-radius: 6px;
    border-color: rgb(226, 225, 225);
    outline-color: white;

}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 300px;
    background-image: url(../image/capa-fornecedor.jpg);
    background-size: cover;
    margin-bottom: 50px;    
}

.banner h3 {
    font-size: 30px;
    color: white;
}

.servicos{
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-wrap:wrap;
}


.servicos article {
    width: calc(100% / 3 - 50px);
    display: inline-block;
}

.servicos article img {
    width: 100%;
}

footer{
    height: 350px;
    background-color: rgb(73, 73, 73);
    margin-top: 100px;
    display: flex;
    
}
footer div{
    display: flex;
    align-items: center;
}
footer div img{
    margin-left: 80px;
    width: 150px;
    height: 110px;
}
footer .menu-footer{
    flex-direction:column;
    justify-content: flex-start;
    padding-top: 80px;
    margin-left: 90px;

}
footer ul li{
    margin-bottom: 30px;
}
footer ul li a{
    margin-bottom: 20px;
    color: honeydew;
    font-size: 18px;
    text-decoration: none;
    

}

footer form{
    margin-top: 80px;
    margin-left: 150px;
    
    
}
footer form .newsletter{
    height: 37px;
    width: 200px;
}
footer form .news{
    background-color: honeydew;
    color:gray;
    padding: 10px;
    text-decoration: none;
    border: none;
}
footer form a{
    width: 24px;
    margin-right: 15px;
    margin-left: 20px;
    text-decoration: none;
}
footer  a img{
    width: 24px;
    height: 24px;  
}
footer form h3{
    color:white;
    font-size: 20px;
}
footer form h3,.newsletter{
    margin-left: 100px;
    margin-bottom: 30px;

}









/* article .servico{
    width: 350px;
    height: 380px;
    margin-right: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    background-color: violet;
    display: flex;
    background-image: url(../image/casamento.jpg);
    background-repeat: no-repeat;
    background-size: cover;

   
} */