*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../image/banner-home.jpg);
    background-size: cover;
    background-position: center;
}

/* aqui começa a header */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color:white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

header h2{
    margin-right: 350px;
    margin-left: 350px;
    color: gray;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    
}
header h3{
    color: gray;
    font-weight: normal;
    font-size: 14px;
}

/* aqui começa o login */

section{
    display: flex;
    background-color:white;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    margin: auto;
    justify-content: center;
    margin-top: 0px;
}
.logar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logar input{
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 7px;
    border: 1px solid rgb(207, 207, 207);

}
.login{
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    padding-top: 30px;
    justify-content: center;
    background-color:white;
    color:rgb(255, 255, 255);
    font-size: 24px;
}

.cliente{
    width: 100%;
    max-width: 450px;
    height: 300px;
    /* background-color: turquoise; */
    /* display: flex; */
    justify-content: center;
    margin-top: 50px;
    border-right: 1px solid gray;
}

.login1, .login2{
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(94, 94, 94);
    font-size: 16px;
}

.fornecedor{
    width: 100%;
    max-width: 450px;
    height: 300px;
    /* background-color:red; */
    /* display: flex; */
    justify-content: center;
    margin-top: 50px; 
}

label button{
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 5px;
    border-radius: 7px;
    border: none;
    background-color: #f1873b;
    color: honeydew;
}

.fornecedor label button {
    background-color: #3c9cd7;
}

/* aqui começa o footer */

footer{
    height: 230px;
    background-color: #f1873b;
    margin-top: 100px;
    display: flex;
    
}
footer div{
    display: flex;
    align-items: center;
}
footer div img{
    margin-left: 80px;
    width: 100px;
    height: auto;
}
footer .menu-footer{
    flex-direction:column;
    justify-content: flex-start;
    padding-top: 40px;
    margin-left: 90px;
}

footer ul li{
    margin-bottom: 30px;
    list-style-type: none;
}
footer ul li a{
    margin-bottom: 15px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

footer form h3{
    color:white;
    font-size: 14px;
}

footer form{
    margin-top: 20px;
    margin-left: 150px;
}
footer form .newsletter{
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: rgb(121, 121, 121);
}
footer form .news{
    background-color: #3c9cd7;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
}
footer form a{
    width: 24px;
    margin-right: 15px;
    margin-left: 20px;
    text-decoration: none;
}
footer  a img{
    width: auto;
    height: 20px;  
}

footer form h3,.newsletter{
    margin-left: 100px;
    margin-bottom: 30px;

}