body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-image: url(../image/banner-home.jpg);
    opacity: 90%;
    /**background-color: rgb(190, 190, 190);**/
    background-size: cover;
    height: 700px;
    margin-bottom: 100px;
}

header img {
    width: 100px;
    margin-top: 22px;
    margin-left: 22px;
}

header nav {
    float: right;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    list-style-type: none;
    ;
}

header nav ul li {
    margin-top: 10px;
    display: inline-flex;
    color: white;
    margin-right: 50px;
}

header nav ul li:hover {
    color: #f1873b;
}

header nav ul li img {
    height: 18px;
    width: 18px;
    margin: 0px;
}

/* aqui começa o banner */

header div {
    text-align: center;
    color: white;
    margin-top: 200px;
}

header div h2 {
    font-size: 30px;
}

header div p {
    font-size: 15px;
    text-align: center;
}

header div button {
    color: white;
    font-size: 16px;
    border-radius: 5px;
    background-color: #f1873b;
    padding: 7px 30px;
    border-style: none;
    margin-top: 10px;
}

header div button:hover {
    background-color: #ce5600;
}

#botao1 {
    margin-right: 15px;
}

#botao2 {
    margin-left: 15px;
}


/* aqui começa o main */


#cliente {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

main section div img {
    width: 50vw;
    height: 100%;
}

.texto1 {
    width: 50vw;
    color: rgb(100, 100, 100);
    padding-left: 110px;
    padding-top: 40px;
}

.texto1 h3 {
    font-size: 28px;
    width: 70%
}

.texto1 p{
    font-size: 15px;
    width: 70%;
}

.image1 {
    width: 100%;
    height: 100%;
}

#fornecedor {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.texto2 h3 {
    font-size: 28px;
    width: 70%;
}

.texto2 p{
    font-size: 15px;
    width: 70%;
}

.texto2 {
    color: rgb(100, 100, 100);
    padding-left: 110px;
    padding-top: 40px;
}


/* aqui começa o banner de informações */


#infos1 {
    background-color: #f1873b;
    color: white;
    padding-top: 20px;
    text-align: center;
    
}

#infos2 {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
    height: 100px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

#infos2 h2{
    font-size: 25px;
}   

#infos2 p {
    font-size: 14px;
    margin-top: -15px;
}

#time {
    padding-top: 15px;
}

/* aqui começam as instruções */

#passos {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

#passos div {
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 100px;
}

#passos img {
    width: 100%;
    height: auto;
}

#passos p {
    width: 80%;
    text-align: center;
    font-size: 14px;
}


/* aqui começa o rodapé */


#rodape {
    background-color: #3c9cd7;
    height: 150px;
    display: flex;
    justify-content: center;
    justify-content: center;
}

#rodape nav ul li {
    display: inline-flex;
    padding-top: 70px;
    margin-left: 50px;
    font-size: 12px;
    color: white;
}
